/* General styling for the body */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #f4f4f4;
  color: #333;
  display: flex;
  overflow-y: hidden;
}

.main{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

/* Styling for the aside menu */
aside {
  width: 20%;
  background-color: #2b3a42;
  color: white;
  padding: 2%;
  height: 100vh;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
}

/* Heading inside aside */
aside h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid #f4f4f4;
  padding-bottom: 0.5rem;
}

/* Styling for the menu items */
aside ul {
  list-style-type: none;
  padding: 0;
}

aside ul li {
  margin-bottom: 1.5rem;
}

aside ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.8rem;
  display: block;
  text-align: center;
  background-color: #3a4f5a;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

aside ul li a:hover {
  background-color: #1e2b30;
}

#logoutbtn {
  background-color: rgb(233, 54, 54);
  padding: 10px;
  width: 10%;
  font-size: larger;
  color: white;
  border: 1px solid red;
  border-radius: 5px;
  
  /* Added styles */
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 10px;
  transition: transform 0.3s ease;
}

#logoutbtn:hover{
  background-color: red;
  transform: scale(1.1);
  cursor: pointer;
  
}

/* Styling for the content area */
.content {
  margin-left: 25%;
  width: 78%;
  height: 100vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

#internshipBlock {
  margin: 30px auto;
  padding: 20px;
  width: 140%;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#internshipBlock h2 {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #333;
  margin-bottom: 20px;
}

/* Table styles */
table {
  width: 90%;
  border-collapse: collapse;
  font-family: 'Arial', sans-serif;
}

table th, table td {
  padding: 12px 15px;
  text-align: left;
}

table thead {
  background-color: #4CAF50;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

table th {
  border-bottom: 2px solid #ddd;
}

table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tbody tr:hover {
  background-color: #e1e1e1;
}

table td {
  border-bottom: 1px solid #ddd;
}

table td:first-child {
  font-weight: bold;
}

table tbody td {
  color: #555;
}

/* Add some responsive design */
@media screen and (max-width: 768px) {
  table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  table thead {
    display: none;
  }

  table tbody tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
  }

  table tbody td {
    display: block;
    text-align: right;
    font-size: 14px;
    position: relative;
    padding-left: 50%;
  }

  table tbody td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 45%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
    background-color: #f9f9f9;
    border-right: 2px solid #ddd;
  }
}


/* Responsive styling */
@media (max-width: 768px) {
  body {
      flex-direction: column;
  }

  aside {
      width: 100%;
      height: auto;
  }

  .content {
      width: 90%;
      margin: 5% auto;
      margin-top: 40%;
  }

  
  input[type="file"], input[type="text"]{
    width: 70%;
    margin-right: 11%;
  }
}

form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(12, 12, 12, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto 50px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
  font-weight: bold;
}

input[type="file"], input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"], #showImageGalleryBtn, #showVideoGalleryBtn, #showBlogGalleryBtn {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block; /* Add this */
  margin: 20px auto; /* Add this */
  text-align: center;
}

button[type="submit"]:hover, #showImageGalleryBtn:hover, #showVideoGalleryBtn:hover, #showBlogGalleryBtn:hover {
  background-color: #4cae4c;
}

/* Image gallery section */
#imageGallery, #videoGalleryyy, #blogGallery {
   display: flex;
  flex-wrap: wrap;
 justify-content: center;
}

.image-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 20%;
  transition: transform 0.3s ease;
}



.video-card{
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align:  center;
  width: 30%;
}

.blog-post{
  background-color: #fff;
  margin: 20px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.image-card:hover, .video-card:hover, .blog-post:hover {
  transform: translateY(-5px);
}

.image-card img{
  width: 150px;
  height: 100px;
  border-radius: 5px;
}

.video-card video{
  width: 150px;
  height: 30vh;
  border-radius: 5px;
}

.blog-post image{
  width: 250px;
  height: 50vh;
  border-radius: 5px;
}

.blog-post video{
  width: 250px;
  height: 25vh;
  border-radius: 5px;
}

.image-card, .video-card, .blog-post p {
  margin: 10px 0;
  font-weight: bold;
  color: #333;
}

.action-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.action-buttons button {
  background-color: #337ab7;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-buttons button:hover {
  background-color: #286090;
}

.action-buttons button:nth-child(2) {
  background-color: #d9534f;
}

.action-buttons button:nth-child(2):hover {
  background-color: #c9302c;
}

/* Table styling 
/* table {
  width: 100%; /* Make the table full width 
  border-collapse: collapse; /* Combine borders for a cleaner look 
  margin-top: 20px; /* Space above the table 
  background-color: #fff; /* Background color of the table 
  border-radius: 5px; /* Rounded corners for the table 
  overflow: hidden; /* Hide overflow for rounded corners 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth 
  
}

#internshipBlock{
  margin-left: 30%;
}

th, td {
  border: 1px solid #ddd; /* Border for table cells 
  padding: 10px; /* Cell padding 
  text-align: left; /* Align text to the left 
}

th {
  background-color: #f2f2f2; /* Light gray background for headers 
}

tr:hover {
  background-color: #f5f5f5; /* Highlight row on hover 
} */

/* Responsive styling */
@media (max-width: 768px) {
  body {
    flex-direction: column;
  }

  aside {
    width: 100%;
    height: auto;
  }

  .content {
    width: 90%;
    margin: 5% auto;
    margin-top: 40%;
  }

  input[type="file"], input[type="text"] {
    width: 70%;
    margin-right: 11%;
  }
}


/* form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(12, 12, 12, 0.1);
  width: 100%;
  max-width: 400px;
  margin: 0 auto 50px;
}

label {
  display: block;
  margin-bottom: 10px;
  color: #555;
  font-weight: bold;
}

input[type="file"], input[type="text"] {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"], #showImageGalleryBtn, #showVideoGalleryBtn, #showBlogGalleryBtn {
  background-color: #5cb85c;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block; /* Add this 
  margin: 20px auto; /* Add this 
  text-align: center;
}

button[type="submit"]:hover, #showImageGalleryBtn:hover, #showVideoGalleryBtn:hover, #showBlogGalleryBtn:hover {
  background-color: #4cae4c;
}

/* Image gallery section 
#imageGallery, #videoGallery, #blogGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.image-card {
  background-color: #fff;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 20%;
  transition: transform 0.3s ease;
}

/* .video-card{
      background-color: #fff;
      margin: 10px;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      text-align: center;
      width: 20%;
      transition: transform 0.3s ease;
  
} 

.image-card:hover, .video-card:hover, .blog-card:hover {
  transform: translateY(-5px);
}

.image-card, .video-card, .blog-card  img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.image-card p {
  margin: 10px 0;
  font-weight: bold;
  color: #333;
}

.action-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
}

.action-buttons button {
  background-color: #337ab7;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-buttons button:hover {
  background-color: #286090;
}

.action-buttons button:nth-child(2) {
  background-color: #d9534f;
}

.action-buttons button:nth-child(2):hover {
  background-color: #c9302c;
}
 */


