body{
    margin: 0;
    padding: 0;
}

.container-fluid{
    border: 2px solid black;
    margin: 10% auto;
    width: 60%;
    align-items: center;
    text-align: center;
}

button{
    background-color: rgb(238, 35, 35);
    width: 40%;
    border: 1px;
    border-radius: 4%;
    padding: 2%;
    margin: 3%;
}

button:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease, width 0.3s ease;
    color: white;
}